In [10]:

import numpy as np
import pandas as pd
import os
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix,classification_report
from sklearn.ensemble import RandomForestClassifier

In [11]:

























































 +
    patient= pd.read_csv("indian_liver_patient.csv")
patient.head()

,Age,Gender,Total_Bilirubin,Direct_Bilirubin,Alkaline_Phosphotase,Alamine_Aminotransferase,Aspartate_Aminotransferase,Total_Protiens,Albumin,Albumin_and_Globulin_Ratio,Dataset
0,65,1,0.7,0.1,187,16,18,6.8,3.3,0.90,1
1,62,0,10.9,5.5,699,64,100,7.5,3.2,0.74,1
2,62,0,7.3,4.1,490,60,68,7.0,3.3,0.89,1
3,58,0,1.0,0.4,182,14,20,6.8,3.4,1.00,1
4,72,0,3.9,2.0,195,27,59,7.3,2.4,0.40,1

In [12]:
pd.get_dummies(patient['Gender'], prefix = 'Gender').head()

   Gender_0  Gender_1
0         0         1
1         1         0
2         1         0
3         1         0
4         1         0

In [13]:
patient = pd.concat([patient,pd.get_dummies(patient['Gender'], prefix = 'Gender')], axis=1)
patient.head(5)

,Age,Gender,Total_Bilirubin,Direct_Bilirubin,Alkaline_Phosphotase,Alamine_Aminotransferase,Aspartate_Aminotransferase,Total_Protiens,Albumin,Albumin_and_Globulin_Ratio,Dataset,Gender_0,Gender_1
0,65,1,0.7,0.1,187,16,18,6.8,3.3,0.90,1,0,1
1,62,0,10.9,5.5,699,64,100,7.5,3.2,0.74,1,1,0
2,62,0,7.3,4.1,490,60,68,7.0,3.3,0.89,1,1,0
3,58,0,1.0,0.4,182,14,20,6.8,3.4,1.00,1,1,0
4,72,0,3.9,2.0,195,27,59,7.3,2.4,0.40,1,1,0

In [14]:
patient["Albumin_and_Globulin_Ratio"] = patient.Albumin_and_Globulin_Ratio.fillna(patient['Albumin_and_Globulin_Ratio'].mean())

In [15]:
X = patient.drop(['Gender','Dataset'], axis=1)
X.head()

,Age,Total_Bilirubin,Direct_Bilirubin,Alkaline_Phosphotase,Alamine_Aminotransferase,Aspartate_Aminotransferase,Total_Protiens,Albumin,Albumin_and_Globulin_Ratio,Gender_0,Gender_1
0,65,0.7,0.1,187,16,18,6.8,3.3,0.90,0,1
1,62,10.9,5.5,699,64,100,7.5,3.2,0.74,1,0
2,62,7.3,4.1,490,60,68,7.0,3.3,0.89,1,0
3,58,1.0,0.4,182,14,20,6.8,3.4,1.00,1,0
4,72,3.9,2.0,195,27,59,7.3,2.4,0.40,1,0

In [16]:
y = patient['Dataset']
y.head(3)

0    1
1    1
2    1
Name: Dataset, dtype: int64

In [17]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30, random_state=1)
print (X_train.shape)
print (y_train.shape)
print (X_test.shape)
print (y_test.shape)

(408, 11)
(408,)
(175, 11)
(175,)

In [9]:
from sklearn.neighbors import KNeighborsClassifier

model = KNeighborsClassifier(n_neighbors=4)


model.fit(X_train,y_train)

model.score(X_test, y_test)

0.7257142857142858